@font-face {
    font-family: 'alien';
    src: url("../fonts/wearealien.ttf") format("truetype");
}
 
*{
    margin:0;
}

h1 {
    font-family: 'alien';
    color: rgb(165, 165, 165);
    font-size: 3em;
    text-align: center;
    margin: 20px;
}

#game-log{
    height:auto;
    position: absolute;
    padding: 0 15px;
    width:200px;
    top: 10px;
    bottom: 10px;
    display: block;
    border-right: 1px solid rgb(165, 165, 165);
}

#game-area{
    position: relative;
    /* background-color: red; */
    border: 1px solid rgb(165, 165, 165);
    border-radius: 15px;
    width:90%;
    height:600px;
    margin: auto;
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }